[Unit]
Description=Kubernetes kubelet (System Application Container)
Documentation=https://github.com/kubernetes/kubernetes
Wants=network.target
Requires=coreos-metadata.service
After=coreos-metadata.service

[Service]
Restart=on-failure
RestartSec=10s
TimeoutStartSec=0

EnvironmentFile=/run/metadata/coreos
Environment="KUBELET_IMAGE_TAG=v1.6.6_coreos.0"
Environment="RKT_RUN_ARGS=--uuid-file-save=/var/lib/coreos/kubelet-wrapper.uuid --hosts-entry=host --dns=host"

ExecStartPre=/usr/bin/mkdir --parents /var/lib/coreos
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/coreos/kubelet-wrapper.uuid
ExecStart=/usr/lib/coreos/kubelet-wrapper \
  --address=${COREOS_OPENSTACK_IPV4_LOCAL} \
  --kubeconfig=/etc/kubernetes/kubeconfig \
  --require-kubeconfig \
  --pod-manifest-path=/etc/kubernetes/manifests \
  --allow-privileged \
  --cluster-dns=10.0.0.10 \
  --cluster-domain=cluster.local \
  --cadvisor-port=0
ExecStop=-/usr/bin/rkt stop --uuid-file=/var/lib/coreos/kubelet-wrapper.uuid

[Install]
WantedBy=multi-user.target
